
@{
    ViewBag.Title = "Application Submitted";
}

@section customCss {
    <style>
        #afeg-header-section {
            position: fixed;
            background-color: #82dafe;
        }

        #afeg-main {
            margin-top: 50px;
        }
    </style>
}

<div id="afeg-main">
    <div class="container">
        <div class="row">
            <div class="afeg-spacer afeg-spacer-sm"></div>
            <center>
                <h2>Your application has been submitted successfully </h2>
            </center>
        </div>
    </div>
</div>
