@{
    ViewBag.Title = "About Us";
}

@section customCss {
    <style>
        #afeg-header-section {
            position: fixed;
            background-color: #82dafe;
        }
        #afeg-main{
            margin-top: 50px;
        }
    </style>
}

<div id="afeg-main">

    <div class="container">
        <div class="row">

            <div  id="afeg-content">
                <div class="content-box animate-box">
                    <h2>Developing an entrepreneurial state of mind to drive Egypt forward
</h2>
                    <p> Entrepreneurship in Egypt is certainly attractive, and those who make it are celebrated and often appear to become celebrities overnight. But not everyone is an entrepreneur. Not everyone will make it. Not everyone has the guts, the luck, or the passion to bring one particular idea to life. But this does not mean they can’t be entrepreneurial – it is about cultivating an innovative state of mind.

Entrepreneurship was a central topic at the recent Innovation Egypt summit held in Kenya, which discussed how the education system in Egypt is equipping our students with the right skills for future employment. With the Fourth Industrial Revolution ushering in a new set of essential workplace skills, we need to foster an entrepreneurial way of thinking among Egyptian youth that can be applied whether they’re employed or self-employed. And this begins with the skills they’re taught from the early stages of their school career. Certainly technology plays an important role in this, by facilitating immersive learning to improve experiences and education outcomes.

</p>
                </div>
                <div class="content-box animate-box">
                    <p><img src="~/images/home.png" alt="EGYPT APPFACTORY" class="img-responsive"></p>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- END fhtco-main -->
