
@{
    ViewBag.Title = "Confirm Submission";
}

@section customCss {
    <style>
        #afeg-header-section {
            position: fixed;
            background-color: #82dafe;
        }

        #afeg-main {
            margin-top: 50px;
        }
    </style>
}

<div id="afeg-main">
    <div class="container">
        <div class="row">
            <div class="afeg-spacer afeg-spacer-sm"></div>
            <center>
                <h1>Your Account Has Been Successfully Created</h1>
                <h3>A url will be sent to your Email, Please Use it to verify your email address.</h3>
            </center>
        </div>
    </div>
</div>
